    <div class="row">
        <div class="col-xs-12 col-sm-8">
        {{ content|raw }}
        </div><!-- .col -->
        <div class="col-xs-12 col-sm-4 sidebar">
            <div class="container-fluid box">
                {#<div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>{{ 'Content'|trans }}</h4>
                    </div>
                </div>#}
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12">
                    {% if section_headers is not empty %}
                        {% for header in section_headers %}
                            <p><a href="#{{ header['id'] }}">{{ header['text'] }}</a></p>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- .col -->
    </div><!-- .row -->
