/*
 * additional styles
 *
 */

header {
    padding-bottom: 8px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $font-stack-display-typeface;
    color: $color-color-dark;

    a, a:visited {
        color: $color-color-dark;
        text-decoration: none;
        &:hover, &:active {
            color: $color-gray-light;
            text-decoration: underline;
        }
    }

    h1 {
        margin-top: 23px;
        margin-bottom: 11px;
        font-size: 24px;
        font-weight: bold;

        #site-tagline {
           font-size: 14px;
           font-weight: normal;
           color: $color-gray-dark;
        }

        a, a:visited {
            &:hover, &:active {
                color: inherit;
            }
        }
    }

    #menu-top {
        float: left;
        padding-right: 0.3rem;

        font-size: 0.875em; /* .small */

        li {
            color: $color-color-medium;
            a {
                color: $color-color-medium;
            }
            &.current a {
                color: $color-text;
            }
        }
    }

    #menu-lang {
        float: left;
        padding-left: 2rem;

        li {
            margin-right: 0.3rem;

            text-transform: uppercase;
            color: $color-color-medium;
            a {
                color: $color-color-medium;
            }
            &.current a {
                font-weight: bold;
            }
            &:not(:last-child) a::after {
                margin-left: 0.8rem;
                font-weight: 100;
                content: "|";
            }
        }
    }

    /* css drop-down, see also https://gist.github.com/nateevans/9958390 */
    #menu-top, #menu-main {
        li {
            position: relative;
        }
        li .menu_level_1 {
            min-width: 100%;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            list-style: none;
            padding-left: 5px;
            padding-right: 5px;
        }
        li:hover .menu_level_1 {
            display: block;
            a {
                padding-right: 5px;
            }
        }
    }

    #menu-top {
        .dropdown-menu {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 6px;
            border-radius: 0;
            border: none;
            .dropdown-item {
                background-color: $color-gray-ultralight;
                padding-left: 0.25rem;
                &:hover {
                    background-color: inherit;
                }
            }
        }

        li:hover .menu_level_1 {
            background-color: $color-gray-ultralight;
            white-space: nowrap;
            a {
                color: $color-color-medium;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #menu-main {
        margin-left: 0;
        margin-bottom: -5px;

        & > li {
            margin-right: 2px;
            border-bottom: 3px solid transparent;
            padding: 0;
            padding-bottom: 5px;
            a {
                padding: 5px;
                padding-right: 36px;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        li:hover .menu_level_1 {
            margin-left: 0px;
            background-color: $color-gray-ultralight;
            a {
                color: $color-color-medium;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        #menu-item-topic {
            a {
                display: inline-block;
                /*
                background: url("../img/icon/menu-topic.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-topic;
                */
            }
            &:hover /*, &.current */ {
                z-index: 999 !important;
                border-bottom: 3px solid $color-color-medium;
            }
        }

        #menu-item-map {
            a {
                display: inline-block;
                /*
                background: url("../img/icon/menu-map.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-map;
                */
                padding-right: 33px;
                font-weight: bold;
                color: $color-color-medium;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 3px solid $color-color-light;
            }
        }

        #menu-item-chronology {
            a {
                display: inline-block;
                /*
                background: url("../img/icon/menu-chronology.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-chronology;
                */
                font-weight: bold;
                color: $color-color-medium;
            }
            &:hover, &.current {
                z-index: 999 !important;
                border-bottom: 1px solid $color-color-medium;
            }
        }

        #menu-item-lookup {
            a {
                display: inline-block;
            }

            > a {
                /*
                background: url("../img/icon/menu-lookup.svg") no-repeat;
                background-position: right 6px center;
                */
                font-weight: bold;
                color: $color-color-medium;
            }

            &:hover {
                border-bottom: 1px solid $color-color-medium;
            }
        }
    }

    #header-search-wrapper {
        input[type='text'] {
            width: 10em;
            background-color: $color-gray-medium;
            border: none;
            padding: 5px;
            padding-right: 26px;

            &::-webkit-input-placeholder {
                color: #CBD3DC !important;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    /* language selector on small screens */
    #menu-lang {
        position: absolute;
        top: 20px;
        right: 0;
        border-left: none !important;
    }

    #site-name {
        padding-top: 15px;
    }
}

#top {
    margin-bottom: 20px;
}

footer {
    margin-bottom: 0;

    background-color: $color-background-footer;
    color: $color-gray-ultralight;

    font-family: $font-stack-display-typeface;
    a, a:visited {
        color: $color-gray-ultralight;
        &:hover {
            color: $color-gray-ultralight;
            text-decoration: underline;
        }
    }

    #footer-social {
        background-color: $color-gray-light;
        padding-top: 12px;
        line-height: 32px;

        a.twitter {
            background: url("../img/icon/twitter.png") no-repeat;
            background-size: cover;
            height: 32px;
            width: 32px;
            display: inline-block;
        }
    }

    #footer-navigation {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    #menu-top-footer {
        li.list-inline-item {
            display: block;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        &#menu-main-footer {
            text-transform: uppercase;
        }
    }

    ul ul {
        padding-left: 20px;
    }
}

/*
.wp-content {
    margin-bottom: 4em;
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}
*/

h2, h3, h4 {
    font-weight: 600;
}

.box-header.chronology {
    background-color: $color-color-chronology;
}

.box-header.map {
    background-color: $color-color-map;
}

/* since we moved the source description before the source */

a[href="#description"]{
    display: none;
}

#image-viewer-container {
    #description {
        display: none;
    }

    .source-description {
        font-style: italic;
    }
}

.wrapper {
    border-top: 2px solid $color-gray-light;
    padding-top: 24px;
    &.container {
       margin-bottom: 1rem;
    }
}

/* route-specific styles */
body.route-home {
    .wrapper {
        padding-top: 0;
        border-top: none;
        color: $color-color-medium;
    }

    .row {
        .btn {
            background-color: inherit;
            border-color: $color-color-spot;
            border-radius: 0;
            color: $color-color-spot;
            text-decoration: none;
            padding-right: 3rem;
            background: url("../img/icon/arrow-right.svg") no-repeat;
            background-position: right;
            background-size: 1.5rem 50%;
            filter: invert(24%) sepia(77%) saturate(6743%) hue-rotate(327deg) brightness(102%) contrast(94%);
            &:focus {
                box-shadow: none;
            }
        }
    }

    .row#about {
        background-color: $color-color-ultralight;
        #mood {
            background: url("../img/carousel/aufbau-lbi.jpg") no-repeat;
            background-position: top center;
            background-size: cover;
            min-height: 240px;
        }
    }

    .row#diaspora-map {
        background-color: $color-color-map;
    }

    #bring-your-own-story-mood {
        background: url("../viewer/bring-your-own-story/muehlberger-hochzeitskleid.jpg") no-repeat;
        background-position: top center;
        background-size: cover;
        min-height: 240px;
    }

    .row#current {
        #articlesCarousel {
            .carousel-item {
                height: 8rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                overflow: hidden;
            }
            .carousel-control-prev-icon {
                background-image: url("../img/icon/arrow-right.svg") !important;
                transform: rotate(180deg);
            }

            .carousel-control-next-icon {
                background-image: url("../img/icon/arrow-right.svg") !important;
            }
        }
    }

    .carousel-control-prev, .carousel-control-next {
        width: inherit;
        position: absolute;
    }

    .carousel-control-prev {
        left: -15px
    }
    .carousel-control-next {
        right: -15px
    }

    @media (min-width: 768px) {
        .multi-item-carousel {
            .carousel-inner {
                .carousel-item {
                    // NEW to v4.3.1: all margin-right properties come with -100% as default
                    // causing all hidden items to be out of the screen
                    margin-right: inherit;

                    &.active {
                        +.carousel-item,
                        +.carousel-item
                        +.carousel-item {
                            display: block; // three visible items
                        }

                        // prevents opposite direction "animation"
                        &:not(.carousel-item-right):not(.carousel-item-left),
                        &:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
                        &:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
                            transition: none;
                        }

                        // allows new item to be visible in order to "slide in" into place
                        +.carousel-item+.carousel-item+.carousel-item {
                            position: absolute;
                            top: 0;
                            right: -(percentage(1/3));
                            z-index: -1;
                            display: block;
                            visibility: visible;
                        }
                    }

                    // .active
                    &-next,
                    &-prev {
                        position: relative;
                        transform: translate3d(0, 0, 0);
                    }
                }

                // .carousel-item

                // farthest right hidden item must be also positioned for animations
                .carousel-item-prev.carousel-item-right {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    display: block;
                    visibility: visible;
                }
            }

            // .carousel-inner

            // left or forward direction
            .active.carousel-item-left+.carousel-item-next.carousel-item-left,
            .carousel-item-next.carousel-item-left+.carousel-item,
            .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
            .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
                position: relative;
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }

            // right or previous direction
            .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
            .carousel-item-prev.carousel-item-right+.carousel-item,
            .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
            .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
                position: relative;
                transform: translate3d(100%, 0, 0);
                display: block;
                visibility: visible;
            }
        }

        // multi-item-carousel
    }
}

body.route-place-map {
    .wrapper {
        padding-top: 0;
        border-top: none;
        background-color: $color-color-map;
    }
}

/* don't show tei-license on about-pages */
body[class*="route-about"], body.route-terms {
    #license {
        display: none;
    }

    h3 {
        font-size: 1.375rem;
    }

    .article div.dta-list {
        margin-top: 0;

        .dta-list-item {
            display: inline-block;
            /* &:before { content: "-"; padding-right:7px; } */
        }
    }
}

/* for the moment, hide search */
#header-search-wrapper {
    display: none !important;
}
